.list-group-item {
    text-align: left;
    font-size: 14px;
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
 .list-group-item b {
    font-weight: bold;
    margin-right: 5px;
  }